/* General styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f3e5f5; /* Lavender background */
  color: #333;
  text-align: center;
}

header {
  background-color: #8a2be2; /* BlueViolet */
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #8a2be2; /* BlueViolet */
  text-align: center;
}

ul li ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

a {
  color: #8a2be2; /* BlueViolet */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #8a2be2; /* BlueViolet */
  color: white;
  margin-top: 20px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

