/* General styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f8ff; /* Light blue background */
  color: #333;
  text-align: center;
}

header {
  background-color: #1E90FF; /* Dodger blue */
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  text-decoration: underline;
}

nav {
  background-color: #87CEFA; /* Light sky blue */
  padding: 10px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-style: italic;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
}

img {
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

aside {
  background-color: #f0f8ff; /* Light blue background for asides */
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #1E90FF; /* Dodger blue */
  color: white;
  margin-top: 20px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
